<footer>
  <div id="fixed-footer">
    <div id="rights-reserved">
      <h4>&copy; Get Social. &nbsp; All rights Reserved</h4>
    </div>
    <div id="goto-home-profile">
      <h4>
        <a href="/">Home</a>
      </h4>
      <h4><a href="/users/profile">User Profile</a></h4>
    </div>
  </div>
</footer>
