<header>
  <nav id="header-nav">
    <div id="brand-name">
      <h4>
        <a href="/">GetSocial</a>
        </h4>
      </p>
    </div>
    <% if(!locals.user){ %>

    <div class="sign-options">
      <li>
        <a href="/users/signin">Sign in</a>
      </li>
      <li>
        <a href="/users/signup">Sign Up</a>
      </li>
    </div>

    <% } %> <% if(locals.user){ %>

    <div id="user-profile-data" class="sign-options">
      <li>
        <a href="/users/profile/<%= locals.user._id %> ">
          <%= locals.user.name %>
        </a>
      </li>
      <li>
        <a href="/users/signout">Sign Out</a>
      </li>
    </div>
    <% } %>
  </nav>
</header>
