#home-container {
  display: flex;
  #feed-posts {
    width: 70%;
    padding: 10px;
  }
  #user-friends {
    width: 30%;
    height: 45vh;
    padding: 10px;
    border-left: 2px solid rgb(202, 201, 201);
    background-color: cyan;
  }
}
