#user-chat-box {
  z-index: 2;
  position: fixed;
  bottom: 8vh;
  right: 5vw;
  height: 320px;
  width: 350px;
  border: 2px solid brown;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #user-chat-box #message-list-container {
    margin-top: 5px;
    list-style-type: none;
    height: 70%;
    padding: 10px;
    overflow: auto; }
    #user-chat-box #message-list-container .other-message {
      text-align: left;
      padding: 20px; }
      #user-chat-box #message-list-container .other-message span {
        background-color: pink;
        border: 2px solid red;
        font-weight: 700;
        padding: 10px; }
    #user-chat-box #message-list-container .self-message {
      text-align: right;
      padding: 20px; }
      #user-chat-box #message-list-container .self-message span {
        background-color: lightblue;
        border: 2px solid red;
        font-weight: 700;
        padding: 10px; }
  #user-chat-box #input-field {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%; }
    #user-chat-box #input-field input[type="text"] {
      height: 50%;
      width: 70%;
      font-size: 22px; }
    #user-chat-box #input-field button {
      height: 55%;
      width: 30%;
      color: white;
      font-size: 22px;
      color: black; }
