#header-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ffd477; }
  #header-nav #brand-name {
    margin-left: 5px; }
  #header-nav #brand-name > h4 > a {
    text-decoration: none;
    color: black; }
  #header-nav .sign-options {
    display: flex;
    justify-content: center;
    align-items: center; }
    #header-nav .sign-options li {
      list-style-type: none;
      cursor: pointer; }
      #header-nav .sign-options li a {
        text-decoration: none;
        margin: 1vw;
        color: black;
        font-weight: 500; }
